Babel==2.10.1
blinker==1.4
docutils==0.18.1
importlib-metadata==4.8.3
Jinja2==3.0.3
Markdown==3.3.7
MarkupSafe==2.0.1
Pygments==2.12.0
pytz==2022.1
PyYAML==6.0
six==1.16.0
typing-extensions==4.1.1
Werkzeug==0.16.1
zipp==3.6.0
